.container {
  position: relative;
}
.case {
  width: 100px;
  height: 100px;
}
.case-1 {
  background-color: rgb(255, 136, 136);
  position: absolute;
  z-index: 1;
}
.case-2 {
  background-color: rgb(126, 138, 235);
  position: absolute;
  top: 65px;
  left: 65px;
  z-index: 3;
}
.case-3 {
  background-color: rgb(77, 239, 153);
  position: absolute;
  top: 130px;
  left: 130px;
  z-index: 2;
}
